body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #222222;
  color: #ffffff;
}

.app.light {
  background-color: #ffffff;
  color: #000000;
}

.app.dark {
  background-color: #222222;
  color: #ffffff;
}

input {
  margin: 20px;
  padding: 10px;
  width: 300px;
}

button {
  margin: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
